<form action="/api/sessions/login" method="POST">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required><br /><br />

    <label for="password">password</label>
    <input type="password" name="password" id="password" required><br /><br />
    
    <button type="submit">login...</button>
</form>

<a href="/api/sessions/ForgotPassword">reestablecer la contraseña</a>
<p>or</p></br></br>
<a href="/api/sessions/register">registrarse</a>