<h1>Crea una nueva contraseña para {{email}}</h1>

<form action="" id="reset-pass-form">
    <label for="1st">Ingresa la nueva contraseña</label>
    <input type="password" name="1st" id="1st">

    <label for="2nd">Repite la nueva contraseña</label>
    <input type="password" name="2nd" id="2nd">

    <button type="submit">Crear nueva contraseña</button>
</form>
<div id="login">

</div>

<script>
    const loginContainer= document.getElementById("login")
    const resetPasswordForm = document.getElementById("reset-pass-form");
    const email="{{email}}"

    resetPasswordForm.addEventListener("submit", (e) => {
        e.preventDefault()
        const firstField = document.getElementById("1st");
        const secondField = document.getElementById("2nd");
        const firstValue = firstField.value;
        const email="{{email}}"
       

        if (firstField.value !== secondField.value) {
            alert("Las contraseñas no coinciden");
        } else {
            const requestBody = { password: firstValue , email:email}; 

            fetch("/api/sessions/updatePassword", {
                method: "PUT",
                headers:{`Content-type`:`application/json`}, 
                body: JSON.stringify(requestBody)
            })
               .then(response=>{
               if(response.ok){
                alert("contraseña actualizada")

                loginContainer.innerHTML=(`<a href="/api/sessions/login">vuelve a iniciar sesion</a>`)
                //return response.json();

               }else{
                console.log(response.statusText)
                console.log("error al actualizar la contraseña")
               }
                
               })
               .then(data=>{
                console.log(data)//revisar data 
               })
               .catch(error=>{
               loginContainer.innerHTML=`ha ocurrido un error interno`
               })

        }
    });
</script>
